<section *ngIf="pets$ | async as petslist" class="pets-section">
  <!-- Favourite Pet Section -->
  <div class="favorite-pet">
    <button class="pet-of-day__btn">Show Favourite pet</button>
    <div class="pet-of-day__today">
      here the pet of the day
    </div>
  </div>

  <!-- Sort Form -->
  <div class="pets-sortBox">
    <app-pets-sort
      (sorted)="onSorted($event)"
      [options]="petOptions"
    ></app-pets-sort>
  </div>

  <!-- List Page Controls -->

  <div *ngIf="linkControls$ | async as links" class="pets-controls">
    <div class="pets-controls__content">
      <a
        *ngFor="let item of links | keyvalue"
        class="pets-controls__link"
        (click)="onPageControlClick(item.value)"
        >{{ item.key }}</a
      >
    </div>
  </div>

  <!-- Pets List-->

  <div class="pets-container">
    <h2>Pets catalogue:</h2>
    <ul class="pets__list">
      <li *ngFor="let pet of petslist; let i = index" class="pets__list-item">
        <a [routerLink]="i">
          <img
            [src]="pet.photo_url"
            alt="A {{ pet.kind }} named {{ pet.name }}"
          />
          <div class="list-item__info">
            <span class="info-detail info-detail-name">{{ pet.name }}</span>
            <span class="info-detail info-detail-kind">{{ pet.kind }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
