<div *ngIf="pets$ | async as petslist" class="pets-section">
  <!-- Favourite Pet Section -->

  <section class="favoritePet">
    <app-favorite-pet [pets]="petslist"></app-favorite-pet>
  </section>

  <!-- Sort Form -->

  <section class="pets-sortBox">
    <app-pets-sort
      (sorted)="onSorted($event)"
      [options]="petOptions"
    ></app-pets-sort>
  </section>

  <!-- Page List Controls -->

  <section *ngIf="linkControls$ | async as links" class="pets-controls">
    <app-list-controls
      [links]="links | keyvalue"
      (linkClicked)="onPageControlClick($event)"
    >
    </app-list-controls>
  </section>

  <!-- Pets List-->

  <div class="pets-container">
    <h2>Pets catalogue:</h2>
    <ul class="pets__list">
      <li
        *ngFor="let pet of petslist | sortPets: sortParam; let i = index"
        class="pets__list-item"
      >
        <a routerLink="{{ pet.id }}">
          <img
            [src]="pet.photo_url"
            alt="A {{ pet.kind }} named {{ pet.name }}"
          />
          <div class="list-item__info">
            <span class="info-detail info-detail-name">{{ pet.name }}</span>
            <span class="info-detail info-detail-kind">{{ pet.kind }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
