<section *ngIf="pets$ | async as petslist" class="pets-container">
  <!-- Favourite Pet Section -->
  <div class="favorite-pet">
    <button class="pet-of-day__btn">Show Favourite pet</button>
    <div class="pet-of-day__today">
      here the pet of the day
    </div>
  </div>

  <!-- Sort Form -->
  <div class="sort-box">
    <h2 class="sort-box__title">Sort by:</h2>

    <form class="sort-box__form" novalidate>
      <div class="sort-box__group">
        <label for="name" class="sort-box__group-label">
          <input
            class="sort-box__group-radioButton"
            type="radio"
            name="optRadio"
            id="name"
          />Name
        </label>
      </div>
      <div class="sort-box__group">
        <label for="kind" class="sort-box__group-label">
          <input
            class="sort-box__group-radioButton"
            type="radio"
            name="optRadio"
            id="kind"
          />Kind
        </label>
      </div>
      <div class="sort-box__group">
        <label for="height" class="sort-box__group-label">
          <input
            class="sort-box__group-radioButton"
            type="radio"
            name="optRadio"
            id="height"
          />Height
        </label>
      </div>
      <div class="sort-box__group">
        <label for="weight" class="sort-box__group-label">
          <input
            class="sort-box__group-radioButton"
            type="radio"
            name="optRadio"
            id="weight"
          />Weight
        </label>
      </div>
      <div class="sort-box__group">
        <label for="length" class="sort-box__group-label">
          <input
            class="sort-box__group-radioButton"
            type="radio"
            name="optRadio"
            id="length"
          />Length
        </label>
      </div>
      <button type="submit" class="sort-box__button">Sort</button>
    </form>
  </div>

  <!-- Pets List-->

  <div class="petsList-container">
    <h2>Pets catalogue:</h2>
    <ul class="pets__list">
      <li *ngFor="let pet of petslist; let i = index" class="pets__list-item">
        <a [routerLink]="i">
          <img
            [src]="pet.photo_url"
            alt="A {{ pet.kind }} named {{ pet.name }}"
          />
          <div class="list-item__info">
            <span class="info-detail info-detail-name">{{ pet.name }}</span>
            <span class="info-detail info-detail-kind">{{ pet.kind }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
