<section *ngIf="pets$ | async as petslist" class="pets-container">
  <!-- Favourite Pet Section -->
  <div class="favorite-pet">
    <button class="pet-of-day__btn">Show Favourite pet</button>
    <div class="pet-of-day__today">
      here the pet of the day
    </div>
  </div>
  <!-- Pets List-->

  <div class="petsList-container">
    <ul class="pets__list">
      <li *ngFor="let pet of petslist; let i = index" class="pets__list-item">
        <a [routerLink]="i">
          <img
            [src]="pet.photo_url"
            alt="A {{ pet.kind }} named {{ pet.name }}"
          />
          <div class="list-item__info">
            <span class="info-detail info-detail-name">{{ pet.name }}</span>
            <span class="info-detail info-detail-kind">{{ pet.kind }}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
