.pets-controls__content {
  font-size: 1.4rem;

  .pets-controls__link {
    font-size: 2.2rem;
    margin-right: 3rem;
    border-bottom: 2px solid transparent;
    &:hover {
      color: red;
      cursor: pointer;
      border-bottom: 2px solid var(--color-black);
    }
  }
}
